header{
font-size: 15px;
justify-content: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
 Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 margin-left: 75px;
}
p{
    margin-left: 130px;
    margin-top: -10px;
}
div{
    margin-left: 100px;
}
img{
    height: 500px;
    width: 500px;
    margin-top: 0px;
}
body{
    justify-self: center;
    justify-content: center;
    background-color: dimgrey;
}
